#!/usr/bin/env bash

export DOTFILES_HOSTS_CONFIG="$HOSTNAME_SHORT"
export DOTFILES_HOSTGROUP='asd'
export DOTFILES_THEME_PROMPT_COLORING="$HOSTNAME_SHORT"
export DOTFILES_GIT_CONFIG="$HOSTNAME_SHORT"

